<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>登录界面</h3>
<form method="post" action="/user/hello">
    <div class="form-group">
        <label>账号：</label>
        <!--文本框的赋值-->
        <input type="text" class="form-control" placeholder="请输入账号" name="username">
    </div>
    <div class="form-group">
        <label>密码：</label>
        <!--文本框的赋值-->
        <input type="text" class="form-control" placeholder="请输入密码" name="password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

</body>
</html>
